.gitignore

# Abaikan semua file di dalam build/
build/
download/
arsip/
dilarang/

# Abaikan seluruh isi dist/ KECUALI bikin_ScoreCard.exe
dist/*
!dist/bikin_ScoreCard.exe

# Abaikan file individual
bikin_ScoreCard.py
cekversion.py
download.py
cara uplaod git.txt
bikin_ScoreCard.spec
